.ad{
   width: 100%;
   
    max-height: max-content;
    padding-bottom: 100px;
    min-height: 100vh;
   
}
.l-admin{
   
    color: black;
    background-color: white;
}
.d-admin{
    background-color: black;
    color: white;
    
}
.ad h4{
    padding-top: 70px;
    font-size: 28px;
    text-align: center;
}
.admin{
   
   margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;
   
  
}
.menu ul{
    border-radius: 4px;
   
}
.menu li{
    padding:20px 60px;
   
    width:"400px"
    
}

.m-l li{
    background-color: black;
    color: white;
}
.m-r li{
    background-color: white;
    color: black;
}
.a-name{
   
    width: 400px;
    padding: 10px 20px;
    height: 200px;
    text-align: center;
    border-radius: 4px;
}
.l{
    border: 1px solid white;
    background-color: black;
    color: white;
}
.d{ border: 1px solid black;
    background-color: white;
    color: black;

}
.but{
    padding: 5px;
    background-color: red;
    border: none;
    border-radius: 5px;
}

form{
    width:500px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px #000;
    border-radius: 5px;
    margin: 30px auto;
    padding: 20px;
}
.f-light{
    background-color: #000;
    color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 2px #fff;
}
.f-dark{
    background-color: #fff;
    color: black;
    border: 1px solid white;
    box-shadow: 1px 1px 2px #000;
}

.tb{
    width:900px;
    margin: 40px 230px;
}
.table1 {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
   border-radius: 15px;
}
table,td,th{
    border: 1px solid rgb(141, 140, 140); 
    color: #000;
    
}
td,th{
    padding:3px 3px;
    text-align: center;
    align-items: center;
}
tr:nth-child(2n+1){
    background-color: rgb(100, 98, 98);
}
tr:nth-child(2n){
    background-color: rgb(250, 245, 245);
}
table img{
    width:50%;
}
.table1 th{
    background-color: gray;
    color: white;
}

@media only screen and (max-width:889px){
    .admin{
        flex-wrap: wrap;
        
    }
    .tb{
        width:500px;
        margin: 20px 10px;
    }
    .table1 {
        width: 70%;
       
    }
    th,td{
        padding:3px 0px;
    }
    
    .admin form{
        width: 200px !important;
        margin: 30px 25px;
        padding: 5px;
    }
    .but{
        width: 100px !important;
    }
    img{
        width:30px;
        height: 30px;
    }
    .a-name{
   
        width: 300px;
        height:250px;
       
    }
}