@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;1,400&family=Lora:wght@400;500;600&family=Montserrat:wght@500;600&family=Roboto:wght@500&family=Varela+Round&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing : border-box;
 }
 body{
  font-family: "googleapis", sans-serif;
 }
a{
  text-decoration: none;
  color: #000;
}
.wrong{
  position: relative;
  margin-left: 300px;
}
.pay {
  background-color: rgb(37, 224, 224) !important;
  padding:5px 20px;
  color:white;
  border: none;
  border-radius: 5px; 
  width: 200px;
}