*{
  margin:0;
  padding:0;
  box-sizing : border-box;
 }
a{
  text-decoration: none;
  color: #000;
}
.wrong{
  position: relative;
  margin-left: 300px;
}
.pay {
  background-color: rgb(37, 224, 224) !important;
  padding:5px 20px;
  color:white;
  border: none;
  border-radius: 5px; 
  width: 200px;
}